/*
Orange - 246, 128, 36

Red - 178, 8, 55

Dark Red - 121, 0, 51
*/
*{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    background-color: rgb(121, 0, 51);
}

img{max-width: 10%;}

/*Changes the navigation buttons*/
#navUL{
    list-style-type: none;
    overflow: hidden;
    margin: auto;
    width: 40%;
}

#left {
  float: left;
}

#navLink{
  display: block;
  padding: 2px;
  background-color: rgb(178, 8, 55);
  margin-left: 5px;
  border: 1px solid black;
  text-decoration: none;
  color: white;
}
/*Changes the navigation buttons*/

footer{
    text-align: left;
    padding-left: 15cm;
}

#card {
    
    border-style: solid;
}

